<div class="dashboard row">
    <div class="col-md-3 animated zoomIn" ng-repeat="actraction in actractions">
        <div class="panel panel-primary ">
            <div class="panel-heading">{{actraction.name}}</div>
            <div class="panel-body">
                <img class="present-image" ng-src="{{actraction.img}}">
                <div class="row">
                    <div class=" col-md-4" ng-repeat="thumbnail in actraction.images"
                         ng-click="actraction.img = thumbnail">
                        <a href="" class="">
                            <img ng-src="{{thumbnail}}" class="thumbnail">
                        </a>
                    </div>
                </div>
                <div class="description">
                    <h3>Description: </h3>
                    <p>
                        {{actraction.description}}
                    </p>
                </div>
                <button class="btn btn-primary" ng-click="showDialog(actraction)">Read more</button>
            </div>
        </div>
    </div>
</div>