.navbar-brand {
    padding: 0px !important;
    padding-right: 15px !important;
}

.present-image {
    width: 260px;
    padding: 5px;
    border: 1px solid gray;
    margin-bottom: 5px;
    min-height: 198px;
}

.thumbnail {
    width: 70px;
    height: 70px;
}
body{
    background-image: url("assets/bg.jpg");
}

nav li {
    padding-top: 5px;
}